footer{
    background-color: $primary;
    font-family: "IBM Plex Sans", sans-serif;
    h2{
        font-weight: 400;
        span{
            font-family: 'Whisper', cursive;
            color: $white;
        }
    }
}