.card{
    a{
        text-align: center;
        .card-image{
        height: 300px;
        width: auto;
        object-fit: cover;
        }
    }
    .card-title{
        min-height: 55px;
    }
}