.card {
	a {
		text-align: center;
		.card-image {
			height: 300px;
			width: 100%;
			object-fit: cover;
		}
	}

	.card-title {
		min-height: 55px;
	}
}
.itemDetail{
	img{
		width: 100%;
		height: auto;
	}
}