* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$primary: #f07d78;
$secondary: #705B5A;
$white: #ffffff;
body{
    font-family: 'IBM Plex Sans', sans-serif;
}
a{
    text-decoration: none;
}